@{
    ViewData["Title"] = "About";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<p>Use this area to provide additional information.</p>
<p>Oi meu nome é @ViewData["MeuNome"] e esse é meu primeiro projeto MVC com .NET</p>
